footer {
    padding: 16px 0;
    font-size: 14px;
    position: relative;

    .footer {
        &-logo {
            height: 63px;
            width: auto;
            object-fit: contain;
        }

        &-btn {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $white;
            border-color: $secondary;
            color: $secondary;
            font-size: 12px;
            text-transform: uppercase;

            &:hover {
                background-color: $secondary;
                color: $white;
                border-color: $white;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        font-size: 16px;

        .footer {
            &-logo {
                height: 96px;
            }

            &-btn {
                bottom: auto;
                top: calc(-50px - 20px);
                right: 19px;
            }
        }
    }
}