.form {
    &-control {
        border-width: 0 0 1px;
        border-radius: 0;
        border-color: $input-border-color;
        padding-left: 0;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $input-border-color-focus;
        }
    }
}