section {
    .sec {
        &-heading {
            margin-bottom: 37px;
            font-size: 30px;
            color: $black;
            font-family: futura-pt;
            font-weight: 600;

            small {
                display: block;
                font-size: 16px;
                margin-top: 11px;
                color: $body-color;
                font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
                font-weight: 600;
                font-style: normal;
            }

            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }

        &-title {
            padding: 47px 15px;
            color: $black;
            font-size: 20px;
            margin-bottom: 39px;
            font-family: futura-pt;
            font-weight: 500;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -100%;
                width: 100%;
                height: 1px;
                background-color: $border-color;
            }

            @include media-breakpoint-up(lg) {
                width: 260px;
                margin-right: calc(97px - 15px);
            }
        }

        &-row-item {
            margin-bottom: 50px;
        }

        &-btn {
            width: 100%;
            max-width: 389px;
            font-size: 20px;
            padding-top: 16px;
            padding-bottom: 15px;
        }
    }

    >.alt-container {
        padding-top: 50px;
        padding-bottom: 50px;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: $border-color;

        @include media-breakpoint-up(lg) {
            padding-top: 95px;
            padding-bottom: 95px;
        }
    }
}

#banner {
    >.alt-container {
        padding: 34px 42px 18px;
    }

    .banner {
        &-text {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 40px;
            color: $secondary;
            font-family: 'ShinGoPro-Regular-AlphaNum';

            span {
                display: inline-block;
                box-shadow: $box-shadow;
                padding: 2px 8px;
                background-color: $white;
                margin-bottom: 8px;

                i {
                    font-family: futura-pt;
                    font-weight: 500;
                    font-style: normal;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        >.alt-container {
            padding: 70px 32px 60px;
        }

        .banner {
            &-text {
                font-size: 44px;
            }
        }
    }
}

#message {
    .message {
        &-text {
            font-size: 15px;
        }
    }

    @include media-breakpoint-up(lg) {
        .message {
            &-text {
                font-size: 18px;
                line-height: 32px;
                font-weight: 500;
            }
        }
    }
}

#clients {
    .clients {
        &-logo {
            margin-bottom: 35px;
        }

        &-text {
            font-size: 15px;
        }
    }

    @include media-breakpoint-up(lg) {
        .clients {
            &-text {
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
            }
        }
    }
}

#services {
    >.alt-container {
        overflow: hidden;
    }

    .services {
        &-inner {
            max-width: 1160px;
            margin: 0 auto;
        }

        &-text {
            color: $black;
            margin-bottom: 44px;
        }

        &-title {
            font-size: 18px;
            color: $black;
            margin-bottom: 28px;
        }

        &-list {
            line-height: 30px;
            font-size: 15px;
        }

        &-note {
            font-size: 14px;
        }

        &-detail {
            padding: 0 26px;
        }

        &-des {
            font-size: 15px;
        }
    }


    @include media-breakpoint-up(lg) {
        .services {
            &-text {
                font-size: 18px;
                font-weight: 500;
            }

            &-img {
                border: 1px solid $border-color;
                padding: 24px 40px;
                margin-bottom: 20px;
            }

            &-detail {
                border-left: 1px solid $border-color;
                margin-bottom: 54px;
            }

            &-list {
                font-size: 18px;
                line-height: 32px;
            }

            &-note {
                font-size: 16px;
                font-weight: 500;
            }

            &-des {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

#company {
    >.alt-container {
        overflow: hidden;
    }

    .company {
        &-inner {
            max-width: 1160px;
            margin: 0 auto;
        }

        &-title {
            font-size: 15px;
            color: $black;
        }

        &-text {
            font-size: 15px;
            margin-bottom: 28px;

            a {
                color: $body-color;

                &:hover {
                    border-bottom: 3px solid $primary;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .company {

            &-title,
            &-text {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}

#contact {
    .contact {
        &-inner {
            max-width: 800px;
            margin: 0 auto;
        }

        &-text {
            color: $black;
            font-weight: 500;
            margin-bottom: 32px;
        }

        &-note {
            color: $black;
            font-size: 15px;
            margin-bottom: 41px;
        }
    }

    .form-group {
        margin-bottom: 36px;

        label {
            font-size: 15px;
            color: $black;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 95px;

        .contact {
            &-text {
                font-size: 18px;
                line-height: 32px;
            }

            &-note {
                font-size: 16px;
            }
        }
    }
}