$primary: #FFBE28;
$secondary: #000000;
$light: #F7F7F7;

$body-color: #5D5D5D;

$input-border-color: #535353;
$input-border-color-focus: $secondary;

$btn-border-radius: 0;

$link-hover-decoration: none;

$input-bg: transparent;
$input-font-size: 15px;
$input-placeholder-color: #999999;