@font-face {
    font-family: 'ShinGoPro-Regular-AlphaNum';
    src: url('../fonts/ShinGoPro-Regular-AlphaNum.woff2') format('woff2'),
        url('../fonts/ShinGoPro-Regular-AlphaNum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url("https://use.typekit.net/fgt8jqs.css");
@import './variables';
@import './bootstrap/bootstrap.scss';
@import './header';
@import './footer';
@import './modal';
@import './form';
@import './landing';
body{
    position: relative;
}
.alt-container {
    @include make-container();
    max-width: 1398px;
}